<%= form_tag(search_user_tasks_path, method: :get) do %>
  <div class="field">
    <%= label_tag 'start_date', 'Start Date:' %>
    <%= text_field_tag 'start_date', nil, type: 'date' %>
  </div>

  <div class="field">
    <%= label_tag 'end_date', 'End Date:' %>
    <%= text_field_tag 'end_date', nil, type: 'date' %>
  </div>

  <div class="field">
    <%= label_tag 'task_status', 'Task Status:' %>
    <%= select_tag 'task_status', options_for_select([['Completed', 'completed'], ['Incomplete', 'incomplete']], 'completed') %>
  </div>

  <%= submit_tag 'Search' %>
<% end %>
