<%= link_to 'Back', user_tasks_path(current_user), class: 'btn btn-secondary btn-back mb-3' %>
<h1 class="page-title">Search for Tasks</h1>

<div class="search-tasks">

  <%= form_tag(search_user_tasks_path, method: :get, class: 'search-form') do %>
    <div class="form-group">
      <%= label_tag 'start_date', 'Start Date:' %>
      <%= text_field_tag 'start_date', params[:start_date], type: 'date', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag 'end_date', 'End Date:' %>
      <%= text_field_tag 'end_date', params[:end_date], type: 'date', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag 'task_status', 'Task Status:' %>
      <%= select_tag 'task_status', options_for_select([['All', 'all'], ['Completed', 'completed'], ['Incomplete', 'incomplete']], params[:task_status]), class: 'form-control' %>
    </div>

    <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <% end %>
</div>
<% if @filtered_tasks.any? %>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Completed</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @filtered_tasks.each do |task| %>
          <tr class="task-row <%= task.completed ? 'complete' : 'incomplete' %>">
            <td><%= task.title %></td>
            <td><div class="task-description"><%= task.description %></div></td>
            <td><%= task.due_date %></td>
            <td><%= task.completed ? 'Yes' : 'No' %></td>
            <td class="table-actions">
              <%= button_to task.completed ? 'Incomplete' : 'Complete', toggle_status_task_path(task), method: :patch, remote: true, class: task.completed ? "btn btn-warning" : "btn btn-success", form: { class: 'btn'} %>
              <%= button_to 'Details', task, method: :get, class: 'btn btn-info btn-sm', form: { class: 'btn'} %>
              <%= button_to 'Edit', edit_task_path(task), method: :get, class: 'btn btn-warning btn-sm', form: { class: 'btn'} %>
              <%= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm', form: { class: 'btn'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="no-tasks">No tasks match your criteria.</p>
<% end %>

