<h1 class="show-task-title"><%= @task.title %></h1>

<p class="show-task-description"><strong>Description:</strong> <%= @task.description %></p>
<p class="show-task-due-date"><strong>Due Date:</strong> <%= @task.due_date %></p>
<p class="show-task-completed"><strong>Completed</strong> <%= @task.completed ? 'Yes' : 'No' %></p>

<%= link_to 'Edit', edit_task_path(@task), class: 'show-button show-edit-button' %> |
<%= link_to 'Back', tasks_path, class: 'show-button show-back-button' %>
