<% if @date.present? %>
    <h1>Tasks for <%= @date %></h1>

    <% if @tasks_for_day.any? %>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% @tasks_for_day.each do |task| %>
                    <tr class="task-row <%= task.completed ? 'complete' : 'incomplete' %>">
                    <td><%= task.title %></td>
                    <td><%= task.description %></td>
                    <td><%= task.due_date %></td>
                    <td><%= task.completed ? 'Yes' : 'No' %></td>
                    <td>
                        <%= button_to task.completed ? 'Mark Incomplete' : 'Mark Complete', toggle_status_task_path(task), method: :patch, remote: true, class: 'btn btn-success btn-sm', form: { class: 'btn'} %>
                        <%= button_to 'Details', task, method: :get, class: 'btn btn-info btn-sm', form: { class: 'btn'} %>
                        <%= button_to 'Edit', edit_task_path(task), method: :get, class: 'btn btn-warning btn-sm', form: { class: 'btn'} %>
                        <%= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm', form: { class: 'btn'} %>
                    </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
    <% else %>
        <h3>You don't have any tasks due today</h3>
    <% end %>
<% else %>
  <h3>Please select a date</h3>
<% end %>
<%= form_tag(tasks_for_day_path, method: :get) do %>
  <label for="date">Select a Date:</label>
  <%= date_field_tag 'date' %>
  <%= submit_tag 'View Tasks' %>
<% end %>