<h1>Today's Tasks</h1>

<% if @today_tasks.any? %>
    <ul>
        <% @today_tasks.each do |task| %>
            <tr>
                <td><%= task.title %></td>
                <td><%= task.description %></td>
                <td><%= task.due_date %></td>
                <td><%= task.completed ? 'Yes' : 'No' %></td>
                <td>
                    <%= button_to 'Details', task, method: :get %>
                    <%= button_to 'Toggle Status', toggle_status_task_path(task), method: :patch, remote: true %>
                    <%= button_to 'Edit', edit_task_path(task), method: :get %>
                    <%= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <% end %>
    </ul>
<% else %>
    <h3>You don't have any tasks due today</h3>
<% end %>

<%= form_tag(tasks_for_day_path, method: :get) do %>
  <label for="date">Select a Date:</label>
  <%= date_field_tag 'date' %>
  <%= submit_tag 'View Tasks' %>
<% end %>








