<!DOCTYPE html>
<html>
  <head>
    <title>ToodlooToDo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Bootstrap CSS and JavaScript -->
    <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> %>
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> %>

  </head>

  <body>
    <!-- Navbar -->
    <% if current_user %>
      <nav class="navbar">
        <a class="navbar-brand" href="#">ToodlooToDo</a>

        <div class="navbar-items" id="navbarNav">

            <div class="nav-item <%= 'active' if current_page?(user_tasks_path) %>">
              <%= button_to 'My Tasks', user_tasks_path, method: :get, class: 'nav-link' %>
            </div>
            <div class="nav-item <%= 'active' if current_page?(today_tasks_path) %>">
              <%= button_to "Today's Tasks", today_tasks_path, method: :get, class: 'nav-link' %>
            </div>
            <div class="nav-item <%= 'active' if current_page?(new_task_form_path) %>">
              <%= button_to 'New Task', new_task_form_path, method: :get, class: 'nav-link' %>
            </div>
            <div class="nav-item <%= 'active' if current_page?(search_user_tasks_path) %>">
              <%= button_to 'Search', search_user_tasks_path, method: :get, class: 'nav-link' %>
            </div>
            <div class="nav-item">
              <%= button_to 'Log Out', logout_path, method: :delete, class: 'nav-link' %>
            </div>

        </div>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
